<div class="col-md-3">
  <!-- Progress -->
  <div class="progress">
    <progressbar class="progress-striped" [value]="b.progress" type="warning" max="100" animate="true">{{round(b.progress)}}%</progressbar>
  </div>
  <!-- Command Buttons -->
  <div class="btn-group btn-group-justified" role="group" aria-label="commands">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
				<span id="iconConfirmationSound" class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
				block missed sound
			</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
				<span id="iconConfirmationSound" class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
				confirmation sound
			</button>
    </div>
  </div>
  <br />
  <!-- Highscores -->
  <div class="panel panel-success" *ngIf="b.newBlock">
    <div class="panel-heading">Highscores</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6 col-xs-6">This block</div>
        <div id="thisBlockBest" class="col-md-6 col-xs-6">{{bestDeadline()?.deadline}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">Overall</div>
        <div id="bestOverall" class="col-md-6 col-xs-6">{{b.newBlock.bestOverall}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">Confirmed deadlines</div>
        <div id="confirmedDeadlines" class="col-md-6 col-xs-6">{{ b.newBlock.deadlinesConfirmed - 0 + b.nonces.length }}</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">Won blocks</div>
        <div id="wonBlocks" class="col-md-6 col-xs-6">{{b.newBlock.blocksWon}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">Mined blocks</div>
        <div id="minedBlocks" class="col-md-6 col-xs-6">{{b.newBlock.blocksMined}}</div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">Average deadline</div>
        <div id="avgDeadline" class="col-md-6 col-xs-6">{{b.newBlock.deadlinesAvg}}</div>
      </div>
    </div>
  </div>
  <!-- Last Winner -->
  <div id="lastWinnerContainer" class="panel panel-default" *ngIf="b.lastWinner">
    <div class="panel-heading">Last winner</div>
    <div id="lastWinner" class="panel-body">
      <div id="lastWinnerNameRow" class="row">
        <div class="col-md-5 col-xs-4">Name</div>
        <div class="col-md-7 col-xs-8">
          <a id="lastWinnerName" href="https://block.burstcoin.info/acc.php?acc=BURST-{{b.lastWinner.address}}" target="_blank">{{b.lastWinner.name}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-4">Numeric</div>
        <div class="col-md-7 col-xs-8">
          <a id="lastWinnerNumeric" href="https://block.burstcoin.info/acc.php?acc=BURST-{{b.lastWinner.address}}" target="_blank">{{b.lastWinner.numeric}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-4">Address</div>
        <div class="col-md-7 col-xs-8">
          <a id="lastWinnerAddress" href="https://block.burstcoin.info/acc.php?acc=BURST-{{b.lastWinner.address}}" target="_blank">{{b.lastWinner.address}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Block data -->
<div id="container" class="col-md-6">
  <div class="panel panel-primary" *ngIf="b.newBlock">
    <div class="panel-heading">Block {{b.newBlock.block}}
      <div style="float:right;" title="block read time">{{ b.getBlockReadDate() }}</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3 col-xs-5">Time</div>
        <div class="col-md-9 col-xs-7">{{b.newBlock.time}}</div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-5">Scoop</div>
        <div class="col-md-9 col-xs-7">{{b.newBlock.scoop}}</div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-5">Base target</div>
        <div class="col-md-9 col-xs-7">{{b.newBlock.baseTarget}}</div>
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-5">Best DL</div>
        <div class="col-md-9 col-xs-7">{{b.newBlock.bestOverall}}</div>
      </div>
    </div>
    <!-- To Do -->
    <ul id="blkdata" class="list-group">
      <li class="list-group-item clearfix list-group-item-debug" style="display: none;" logger="server" level="7">
        <div>
          <p class="pull-right"><span class="label label-default">20:36:39</span>
          </p>Request: /css/cerulean.min.css<small><dl class="dl" style="display: none;"><dt>Logger</dt>
              <dd>server</dd><dt>File</dt><dd>src\MinerServer.cpp</dd><dt>Line</dt><dd>205</dd></dl></small>
        </div>
      </li>
      <li class="list-group-item clearfix list-group-item-debug" style="display: none;" logger="server" level="7">
        <div>
          <p class="pull-right"><span class="label label-default">20:36:39</span></p>Request: /css/cerulean.min.css<small><dl class="dl" style="display: none;"><dt>Logger</dt><dd>server</dd><dt>File</dt><dd>src\MinerServer.cpp</dd><dt>Line</dt><dd>205</dd></dl></small></div>
      </li>
      <li class="list-group-item clearfix list-group-item-debug" style="display: none;" logger="wallet" level="7">
        <div>
          <p class="pull-right"><span class="label label-default">20:34:21</span></p>Could not get last winner!<small><dl class="dl" style="display: none;"><dt>Logger</dt><dd>wallet</dd><dt>File</dt><dd>src\Wallet.cpp</dd><dt>Line</dt><dd>54</dd></dl></small></div>
      </li>
      <li class="list-group-item clearfix list-group-item-danger" style="display: none;" logger="wallet" level="3">
        <div>
          <p class="pull-right"><span class="label label-default">20:34:21</span></p>Got no response for wallet request '/burst?requestType=getBlock&amp;height=374636'<small><dl class="dl" style="display: none;"><dt>Logger</dt><dd>wallet</dd><dt>File</dt><dd>src\Wallet.cpp</dd><dt>Line</dt><dd>201</dd></dl></small></div>
      </li>
      <li class="list-group-item clearfix list-group-item-danger" style="display: none;" logger="socket" level="3">
        <div>
          <p class="pull-right"><span class="label label-default">20:34:06</span></p>Stackframe<br>Miner::runGetLastWinner (in "src\MinerData.cpp",
          line 289)<br>Wallet::getWinnerOfBlock (in "src\Wallet.cpp", line 30)<br>Wallet::sendWalletRequest (in "src\Wallet.cpp",
          line 158)<br>Request::send(Poco::Net::HTTPRequest&amp;) (in "src\Request.cpp", line 36)<br><small><dl class="dl" style="display: none;"><dt>Logger</dt><dd>socket</dd><dt>File</dt><dd>src\Request.cpp</dd><dt>Line</dt><dd>48</dd></dl></small></div>
      </li>
      <li class="list-group-item clearfix list-group-item-danger" style="display: none;" logger="socket" level="3">
        <div>
          <p class="pull-right"><span class="label label-default">20:34:06</span></p>Error on sending request: SSL connection unexpectedly closed<small><dl class="dl" style="display: none;"><dt>Logger</dt><dd>socket</dd><dt>File</dt><dd>src\Request.cpp</dd><dt>Line</dt><dd>47</dd></dl></small></div>
      </li>
      <li class="list-group-item clearfix list-group-item-debug" style="display: none;" logger="server" level="7">
        <div>
          <p class="pull-right"><span class="label label-default">20:33:04</span></p>Request: /favicon.ico<small><dl class="dl" style="display: none;"><dt>Logger</dt><dd>server</dd><dt>File</dt><dd>src\MinerServer.cpp</dd><dt>Line</dt><dd>205</dd></dl></small></div>
      </li>
      <li class="list-group-item clearfix list-group-item-debug" style="display: none;" logger="server" level="7">
        <div>
          <p class="pull-right"><span class="label label-default">20:33:03</span></p>Request: /<small><dl class="dl" style="display: none;"><dt>Logger</dt><dd>server</dd><dt>File</dt><dd>src\MinerServer.cpp</dd><dt>Line</dt><dd>205</dd></dl></small></div>
      </li>
      <li *ngFor="let p of b.plots" id="53352705" class="list-group-item clearfix plots list-group-item-info" [style.display]="p.closed ? 'none' : 'block'">
        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;&nbsp;{{p.dir }}
        <progressbar class="progress-striped plot-progress" [value]="p.value" type="warning" max="100" animate="true">{{round(p.value)}}%</progressbar>
      </li>
      <li *ngFor="let n of b.nonces" id="53352705" class="list-group-item clearfix nonce-found list-group-item-success">
        <span class="glyphicon glyphicon-ok" aria-hidden="true" *ngIf="n.type === 'nonce confirmed'"></span>
        <span class="glyphicon glyphicon-share-alt" style="color: #c09853;" aria-hidden="true" *ngIf="n.type === 'nonce submitted'"></span>
        <b>{{n.account}}</b>: {{n.type}} ({{n.deadline}})
        <p class="pull-right">{{n.time}}</p>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-3">
  <!-- Chart -->
  <div class="panel panel-default">
    <div class="panel-heading">Deadlines</div>
    <canvas baseChart width="auto" height="150" style="margin: 10px;" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
      [colors]="lineChartColors" [legend]="false" chartType="line"></canvas>
    <div id="deadlinesInfo" class="panel-footer"></div>
  </div>
  <!-- System -->
  <div class="panel panel-warning" *ngIf="b.config">
    <div class="panel-heading">System</div>
    <div id="system" class="panel-body">
      <div class="row">
        <div class="col-md-5 col-xs-5">Pool-URL</div>
        <div class="col-md-7 col-xs-7">{{b.config.poolUrl}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Mining-URL</div>
        <div class="col-md-7 col-xs-7">{{b.config.miningInfoUrl}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Wallet-URL</div>
        <div class="col-md-7 col-xs-7">{{b.config.walletUrl}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Plotsize</div>
        <div class="col-md-7 col-xs-7">{{b.config.totalPlotSize}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Buffersize</div>
        <div class="col-md-7 col-xs-7">{{b.config.bufferSize}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Target deadline</div>
        <div class="col-md-7 col-xs-7">{{b.config.targetDeadlineText}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Plot readers</div>
        <div class="col-md-7 col-xs-7">{{b.config.maxPlotReaders}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Mining intensity</div>
        <div class="col-md-7 col-xs-7">{{b.config.miningIntensity}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Submission retry</div>
        <div class="col-md-7 col-xs-7">{{b.config.submissionMaxRetry}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-5">Timeout</div>
        <div class="col-md-7 col-xs-7">{{b.config.timeout}}
        </div>
      </div>
    </div>
  </div>
  <!-- Settings -->
  <div class="panel panel-info" hidden>
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
      <div class="checkbox">
        <label><input id="cbHideSameNonces" type="checkbox" checked>Hide same nonces</label>
      </div>
      <div class="checkbox">
        <label><input id="cbNoncesFound" type="checkbox" checked>Found nonces</label>
      </div>
      <div class="checkbox">
        <label><input id="cbNoncesSent" type="checkbox" checked>Sent nonces</label>
      </div>
      <div class="checkbox">
        <label><input id="cbNoncesConfirmed" type="checkbox" checked>Confirmed nonces</label>
      </div>
      <div id="settingsDlComboboxes">
      </div>
      <button type="button" class="btn btn-default btn-md btn-block" onclick="resetLogSettings(); reparseMessages();">Reset</button>
    </div>
  </div>
</div>
