.list-group-item-debug {
  color: #DD69C0;
  background-color: #FFE8FA;
}
a.list-group-item-debug,
button.list-group-item-debug {
  color: #DD69C0;
}
a.list-group-item-debug .list-group-item-heading,
button.list-group-item-debug .list-group-item-heading {
  color: inherit;
}