<div class="col-md-3">
  <!-- Plot-Dirs -->
  <div class="panel panel-default">
    <div class="panel-heading">Dirs</div>
    <!--<ul id="plotDirList" class="list-group">
		</ul>-->
    <div class="panel-body">
      <!-- Command Buttons -->
      <div class="btn-group btn-group-justified" role="group" aria-label="commands">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" onclick="$.get('/rescanPlotfiles');">
						<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
						rescan
					</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" onclick="$.get('/rescanPlotfiles');">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						remove selected
					</button>
        </div>
      </div>
      <br />
      <div id="plotDirList" class="list-group">
      </div>
      <div class="list-group">
        <form method="POST" action="/plotfile">
          <div class="form-group input-group">
            <input class="form-control" type="path" id="new-plot-dir" name="new-plot-dir" placeholder="new directory" required>
            <span class="input-group-btn">
							<button class="btn btn-default btn-small" type="submit">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9">
  <!-- Plot Files -->
  <div class="panel panel-default">
    <div class="panel-heading">Files</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Account</th>
          <th>Start nonce</th>
          <th>Nonces</th>
          <th>Staggersize</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody id="plotFileDiv">
        <tr *ngFor="let pf of b.plots">
          {{pf | json}}
        </tr>
      </tbody>
    </table>
  </div>
</div>
